.xxxx{
    background-image: url(colorful-mandala-patterns-design-vector-30360965.avif);
    background-size:cover ;
    color: rgb(73, 175, 175);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;height: 300px; 
    font-size: 60px;
}