.option{background-image: url(colorful-mandala-patterns-design-vector-30360965.avif);width: 10px 10px 500px;
    ul{float: left;}
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left:62px;
    margin-top: 27px;
    font-size: 14px;

}
ul li a{
    text-decoration: none;
    color: #fff; 
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
} 
ul li a:hover{
    color: coral;
}
